<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    
</head>
<body class="d-flex h-100 text-center text-white bg-wgite">
    <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" intergrity  />
</body>

</html>